<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"
  />
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>找回密码</title>
  <link rel="stylesheet" type="text/css" href="../../css/empower/forget-password.css">
</head>

<body>
  <div class="box">
    <headbox></headbox>
    <findpass></findpass>
    <setpass></setpass>
    <toast></toast>
  </div>
  <!-- header -->
  <template id="header">
    <header class="header">
      <img class="back" src="../../image/common/back.png" >
      <p class="header-title">找回密码</p>
    </header>
  </template>
  <!-- /header -->
  <!-- findpass -->
  <template id="findpass">
    <div class="findpass-content">
      <div class="userphone">
        <p class="hint">你的手机号码为:</p>
        <h4 class="phone" id="account">{{account}}</h4>
      </div>
    </div>
  </template>
  <!-- /findpass -->

  <!-- setpass -->
  <template id="setpass">
    <div class="setpass-box">
      <div class="setpass">
        <ul>
          <li class="item-pass">
            <div class="item-pass">
              <p class="item-input-text">图片验证码</p>
              <div class="input-group">
                <input v-model="imageCode" class="input-control" id="image-code" type="text" placeholder="请输入图片验证码" maxlength="4" minlength="4">
              </div>
            </div>
            <img class="code-image" src="../../image/common/code.gif" id="getImg">
          </li>
          <li class="item-pass setright">
            <p class="item-input-text">验证码</p>
            <div class="input-group">
              <input v-model="phoneCode" class="input-control" id="phone-code" type="text" placeholder="请输入验证码" maxlength="6" minlength="6">
            </div>
            <button class="sendMsg" @click="sendCode">发送验证码</button>
          </li>
          <li class="item-pass setleft">
            <p class="item-input-text">设置密码</p>
            <div class="input-group">
              <input v-model="setPassword" class="input-control" id="password" :type="setinputType" placeholder="请设置6-12位数字和字母" maxlength="12"
                minlength="6">
            </div>
            <div class="control-input-switch">
              <img class="switch" :src="setswitchImgSrc" @click="setchangeSrc">
              <img class="clear" src="../../image/common/clear.png" @click="clearSetPasswordText">
            </div>
          </li>
          <li class="item-pass setleft">
            <p class="item-input-text">确认密码</p>
            <div class="input-group">
              <input v-model="surePassword" class="input-control" id="repeat-password" :type="sureinputType" placeholder="请与设置密码保持一致" maxlength="12"
                minlength="6">
            </div>
            <div class="control-input-switch">
              <img class="switch" :src="sureswitchImgSrc" @click="surechangeSrc">
              <img class="clear" src="../../image/common/clear.png" @click="clearSurePasswordText">
            </div>
          </li>
        </ul>
      </div>
      <!-- 提交按钮 -->
      <div class="btn" @click="submit">确定</div>
    </div>
  </template>
  <template id="toast">
    <div class="toast" v-show="toastShow">
      <p>{{message}}</p>
    </div>
  </template>

  <script type="text/javascript" charset="utf-8" src="../../script/global/api.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/base.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/global/request.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/global/request-status.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/router.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/check/checkPhone.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/check/checkImageVerificationCode.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/check/checkPassword.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/check/checkPhoneVerificationCode.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/other/toggleBtnDisabled.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/component/other/readyToResend.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/global/urls.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/global/event.js"></script>
  <script type="text/javascript" charset="utf-8" src="../../script/global/listen.js"></script>

  <script type="text/javascript" charset="utf-8" src="../../script/component/vue2.js"></script>

  <script type="text/javascript" charset="utf-8">
    var bus = new Vue();
    // 头部组件
    var headbox = {
      data() {
        return {

        }
      },
      methods: {
        
      },
      template: "#header"
    }

    // findpass组件
    var findpass = {
      template: "#findpass",
      data() {
        return {
          account: 17730127131
        }
      }
    }
    // 模态框
    var toast = {
      data() {
        return {
          toastShow: false,
          message: ''
        }
      },
      mounted() {
        var _this = this;
        bus.$on('message', function (msg) {
          _this.message = msg;
          if (_this.message != '') {
            _this.toastShow = true;
          }
          setTimeout(function () {
            _this.toastShow = false;
          }, 2000);
        });

      },
      template: "#toast"
    }
    // setpass组件
    var setpass = {
      template: "#setpass",
      data() {
        return {
          imageCode: '',
          phoneCode: '',
          setPassword: '',
          surePassword: '',
          setswitchImgSrc: '../../image/common/switch.png',
          sureswitchImgSrc: '../../image/common/switch.png',
          setonoff: false,
          setinputType: 'password',
          sureonoff: false,
          sureinputType: 'password',
        }
      },
      methods: {
        //
        setchangeSrc: function () {
          if (this.setonoff) {
            this.setswitchImgSrc = '../../image/common/switch.png';
            this.setinputType = "password"
          } else {
            this.setswitchImgSrc = '../../image/common/show.png';
            this.setinputType = 'text';
          }
          this.setonoff = !this.setonoff;
        },
        surechangeSrc: function () {
          if (this.sureonoff) {
            this.sureswitchImgSrc = '../../image/common/switch.png';
            this.sureinputType = 'password';
          } else {
            this.sureswitchImgSrc = '../../image/common/show.png';
            this.sureinputType = 'text';
          }
          this.sureonoff = !this.sureonoff;
        },

        // clear text
        clearSetPasswordText: function () {
          this.setPassword = '';
        },
        clearSurePasswordText: function () {
          this.surePassword = '';
        },

        //submit
        submit: function () {
          if (this.imageCode.toLowerCase() != "79vs") {
            bus.$emit('message', '请输入验证码');
            return
          };
          if (this.phoneCode == '') {
            bus.$emit('message', '请输入手机验证码');
            return
          };
          if (this.surePassword != this.setPassword) {
            bus.$emit('message', '请确认新密码');
            return;
          }
          if (this.surePassword == '') {
            bus.$emit('message', '请输入密码');
            return;
          }
          bus.$emit('message', '修改成功');
        },

        // sendCode
        sendCode: function () {
          var code = '';
          var random = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; //随机数
          for (var i = 0; i < 6; i++) {
            var codeIndex = Math.floor(Math.random() * random.length);
            code += random[codeIndex];
            this.phoneCode = code;
          }
        }
      }
    }

    var vm = new Vue({
      el: ".box",
      data: {

      },
      components: {
        headbox,
        findpass,
        setpass,
        toast
      }
    });

    // var User = null;
    // var key = '';

    // var switchs = document.querySelectorAll('.switch');
    // var clear = document.querySelectorAll('.clear');

    // apiready = function () {
    //   setListener();
    //   $api.text('account', api.pageParam.account);
    //   getkey();
    // };

    // function getkey() {
    //   var imgurl = RequestProductURL['ImageCode'];
    //   api.ajax({
    //       url: RequestProductURL['ImageKey'],
    //       method: 'GET',
    //       data: {}
    //     },
    //     function (ret, err) {
    //       key = ret.Data.Key;
    //       $api.attr('getImg', 'src', imgurl + '?key=' + ret.Data.Key);
    //     }
    //   );
    // };

    // function getImageCode(_this) {
    //   // getkey();
    //   var url = _this.src + '&r' + Math.random();
    //   $api.attr(_this, 'src', url);
    // }

    // function sendSMS(dom) {
    //   if (!checkNet()) return;

    //   var account = api.pageParam.account;
    //   if (!checkPhone(account)) return;

    //   var imageCode = $api.val('image-code');
    //   if (!checkImageVerificationCode(imageCode)) return;

    //   request({
    //     url: 'SendSMS',
    //     data: {
    //       phone: account,
    //       type: '找回密码'
    //     },
    //     tip: '正在发送...',
    //     operation: {
    //       before: function () {
    //         closeBtnClick('submit-btn');
    //       },
    //       init: function () {
    //         readyToResend(dom);
    //       },
    //       default: function () {
    //         openBtnClick('submit-btn');
    //       }
    //     }
    //   });
    // }

    // function submit() {
    //   if (!checkNet()) return;

    //   var account = api.pageParam.account;
    //   if (!checkPhone(account)) return;

    //   var phoneCode = $api.val('phone-code');
    //   if (!checkPhoneVerificationCode(phoneCode)) return;

    //   var password = $api.val('password');
    //   if (!checkPassword(password)) return;

    //   var repeatPassword = $api.val('repeat-password');
    //   if (!checkPassword(repeatPassword)) return;

    //   if (repeatPassword !== password) {
    //     toast('请确认新密码');
    //     return;
    //   }

    //   request({
    //     url: 'FindPassword',
    //     data: {
    //       phone: account,
    //       yzm: phoneCode,
    //       pass: password
    //     },
    //     'tip': '正在修改...',
    //     operation: {
    //       init: function () {
    //         closeBtnClick('submit-btn');
    //       },
    //       success: function (data) {
    //         setLoginStatus(account);
    //         sendLoginEvent();
    //         login();
    //       },
    //       default: function () {
    //         openBtnClick('submit-btn');
    //       }
    //     }
    //   });
    // }

    // function login() {
    //   if (!checkNet()) return;
    //   var account = api.pageParam.account;
    //   var password = $api.val('password');

    //   request({
    //     url: 'UserLogin',
    //     data: {
    //       phone: account,
    //       pass: password,
    //       DeviceId: api.deviceId,
    //       DeviceModel: api.deviceModel,
    //       DeviceName: api.deviceName,
    //       Operator: '',
    //       ConnectionType: '',
    //       lat: '',
    //       lng: '',
    //       address: '',
    //     },
    //     tip: false,
    //     operation: {
    //       success: function (data) {
    //         setLoginStatus(account);
    //         sendLoginEvent();
    //         kill(['login', '']);
    //       },
    //       fail: function () {
    //         create({
    //           gola: 'input-password',
    //           account: account
    //         });
    //         kill();
    //       },
    //     }
    //   });
    // }

    // function setLoginStatus(account) {
    //   User = $api.getStorage('User');
    //   User.Status = true;
    //   User.Phone = account;
    //   // for (const key in data) {
    //   //   if (data.hasOwnProperty(key)) User[key] = object[key];
    //   // }
    //   $api.setStorage('User', User);
    // }


    // function sendLoginEvent() {
    //   api.sendEvent({
    //     name: 'LOGIN-EVENT'
    //   });
    // }

    // function setListener() {
    //   offlineEventListener();
    // }
  </script>
</body>

</html>